<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beauty Artist</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="/libs/bootstrap-4.5.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/fontawesome.css">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/all.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/BeautyArtist.css"/>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home-son.css"/>
</head>
<body>

<header class=" H_css_header" id="img_background">
    <section class="section sticky-top ">
        <%- include ('layout/navbar-Promotions-s'); -%>
    </section>
    <div class="H_css_heaer_backgroundcolor">
        <div class="container ">
            <h1 style="font-size: 30px"> Beauty Artist</h1>
            <p style="font-size: 16px"> Find and book your favorite beauty artist.</p>
        </div>
    </div>
</header>

<div class="H_css_main">
    <div class="container">
        <div class="row ">
            <div class=" col-3 H_css_main_left">
                <div class="sticky-top">
                    <div class="H_form_right" >
                        <form action="/search" method="get" >
                            <div class=" H_form ">
                                <label class="H_form">Select City:</label>
                                <input class="H_css_main_left_input" type="text" name="keyword"  placeholder=" District " >
                            </div>
                        </form>
                        <form action="/search_keyword/typemake_up" method="get">
                            <div class=" H_form ">
                                <label class="H_form">Select Service:</label>
                                <input class="H_css_main_left_input" type="text" name="keyword1" placeholder="Search service" >
                            </div>
                        </form>
                        <form action="/sprice" method="get">
                            <div class=" H_form ">
                                <label class="H_form">Desired Price:</label>
                                <input class="H_css_main_left_input" type="search" name="max" placeholder=" Search Price " >
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class= " col-9 H_css_main_right">
                <ul class="list-group  list-group-flush">
                    <li class="list-group-item" >
                        <div class="row">
                            <% artist.map(function (v) {%>
                                <div class="col-6  H_img_artist_desc test">
                                    <div class=" H_img_artist">
                                        <div class="H_topup">
                                            Top beauty artist
                                        </div>
                                        <div class="H_topup_icon">
                                            <img src=" https://www.hellobeauty.id/assets/images/verified.svg">
                                        </div>
                                        <img class="id_img1" src="<%= v.Cover%>" height="100%">
                                    </div>
                                    <a href="/service/<%=v.Id%>">
                                        <div class="H_info_artist">
                                            <div class=" H_avt_artist">
                                                <img class="H_img" src="<%= v.Avartar%>" height="250" width="250"/>
                                            </div>
                                            <div class="H_artist_desc">
                                                <div class="H_Name_artist"><%= v.Name %></div>
                                                <div class="H_description"><%= v.TName%></div>
                                                <div class="H_loca "  ><i style="font-size:11px;color: #484848;" class="fas" >&#xf3c5;</i> <%= v.District%><%= v.City%></div>
                                            </div>
                                        </div>
                                        <div class=" H_display_review">
                                            <div class="row col-md-6 H_display_review_left">
                                                                <span class="H_display_sprice">
                                                                    5/5.216 Review
                                                                </span>
                                                <span class="H_Icon">
                                                                    <i style="font-size:15px; color: red;" class="fa">&#xf004;&#xf004;&#xf004;&#xf004;&#xf004;</i>
                                                                </span>
                                            </div>
                                            <div class="row col-md-6 H_display_review_right">
                                                <span class="H_display_sprice">Start from:</span>
                                                <span class="H_display_sprice2" > <%= v.SPrice%>VND </span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            <%}) %>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<div class="sticky-top">
    <%- include ('layout/footer'); -%>

</div>
</body>
</html>