<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Booking</title>
    <link rel="stylesheet" href="/libs/bootstrap-4.5.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/all.css">
    <link rel="stylesheet" href="/libs/datepicker/datepicker.css">
    <link rel="stylesheet" href="/libs/clockpicker-gh-pages/dist/bootstrap-clockpicker.min.css">
    <link rel="stylesheet" href="/libs/Number-Input-Spinner-jQuery-Nice-Number/dist/jquery.nice-number.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/book.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/home-son.css"/>

</head>
<body>
<section class="section sticky-top">
    <nav class="navbar navbar-expand-md navbar-light  nav-head-s" id="nav-head-s">
        <div class="container-fluid">
            <div class="img-nav-s">
                <a class="navbar-branch" href="/">
                    <img class="img-fluid img-nav-s" src="/imgs-s/logo-salmon.png">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item nav-item-s1">
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle btn-nav-s1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                FOR CLIENT
                            </button>
                            <div class="dropdown-content">
                                <a class="dropdown-item" href="/artisan-registration-and-service">Beauty Job Artist</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Beauty Outlet</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item nav-item-s">
                        <div class="dropdown">
                            <button type="button" class="btn btn-outline-light dropdown-toggle btn-nav-s2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                PARTNER WITH US
                            </button>
                            <div class="dropdown-content">
                                <a class="dropdown-item" href="#">Beauty Artists</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Beauty Outlets</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item nav-item-s">
                        <a href="#" class="notamenu notamenus"><i style="color: #ff5c5c" class="fa">&#xf290;</i></a>
                    </li>
                    <li class="nav-item nav-item-s">
                        <button class="btn btn-outline-light btn-nav-s2" data-toggle="modal" data-target="#myModal">Register</button>
                    </li>
                    <li class="nav-item nav-item-s">
                        <button class="btn btn-outline-light btn-nav-s2" data-toggle="modal" data-target="#myModallogin">Login</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>
<section class="section head-s1">
    <div class="img-banne-s">
        <img src="/imgs-s/banner-son.jpg">
    </div>
    <div class="header-promotion">
        <span class="header-promotion-span-s1">Beauty Artist</span><br>
        <span class="header-promotion-span-s2">Find and book your favorite beauty artist.</span>
    </div>
</section>

<div class="vbooking__header">
    <div class="container">
        <hr>
    </div>
</div>

<div class="vbooking__header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p style="margin: 15px 0 5px;">Book To <span name="artname"><%=art[0].Name%></span></p>
            </div>
        </div>
        <hr>
    </div>
</div>
<div class="vbooking__main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="vbooking__box">

                    <!--  --------------------Progress Bar--------------------------------->
                    <div class="vbooking__progressbar" id="progressBar">
                        <ul>
                            <li class="progress__step active__step" id="progress__step1">Step 1</li>
                            <li class="progress__step" id="progress__step2">Step 2</li>
                            <li class="progress__step" id="progress__step3">Step 3</li>
                            <li class="progress__step" id="progress__step4">Step 4</li>
                        </ul>
                    </div>
                    <!-- ------------------------Step 1------------------------------------->
                    <form action="/booking/success" method="post" id="bookForm">
                        <div class="vbooking__step" id="step-1">
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label>Client Name</label>
                                    <input type="text" name="Dkhang" class="form-control" id="Cname">
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <input type="text" name="DPhone" class="form-control" id="Cphone">
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" name="DEmail" class="form-control" id="Cemail">
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label>Date of Plan</label>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <input type="text" name="DDate" class="form-control datepicker" data-date-format="yyyy-mm-dd" id="Cdate">
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="text" name="DTime" class="form-control clockpicker" id="Ctime">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" name="DAdress" class="form-control" id="Cadd">
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label>City</label>
                                    <select name="DTinh" class="form-control" id="Ccity">
                                        <option value="" disabled selected>Select your city</option>
                                        <% city.map(e=>{ %>
                                            <option value="<%= e.Id %>"> <%= e.NameCity %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label>District</label>
                                    <select name="DQuan" class="form-control" id="Cdistrict">
                                        <option value="" disabled selected>Select your district</option>
                                        <% district.map(e=>{ %>
                                            <option value="<%= e.IdCity %>"> <%= e.Name %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <hr>

                            </div>
                        </div>


                        <!------------------------------Step 2-------------------------->
                        <div class="vbooking__step" id="step-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <label>Select Service</label>
                                            <select name="service" class="form-control" id="service__select" onchange="resetNumber()">
                                                <% allsv.map(e=>{ %>
                                                    <option value="<%= e.S_Id %>" class="service_name"><%= e.SName %></option>
                                                <% }); %>
                                            </select>
                                            <div class="info__hidden" style="display: none;">
                                                <% allsv.map(e =>{ %>
                                                <div class="SName"><%= e.SName %></div>
                                                <div class="SPrice"><%= e.SPrice%></div>
                                                <% }); %>
                                            </div>
                                        </div>
                                        <div class="col-md-3 step-2-nice-number">
                                            <label>How many persons?</label>
                                            <input type="number" class="form-control" min="0" id="qty__persons">
                                        </div>
                                    </div>
                                </div>
                                <hr>


                                <div class="cart-items">
                                </div>
                            </div>
                        </div>

                        <!------------------------------Step 3-------------------------->
                        <div class="vbooking__step" id="step-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Coupon</label><br>
                                            <small>Have an coupon code?</small>
                                            <input type="text" class="form-control" min="0" id="coupon__code">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12" style="margin-top:40px;">
                                            <label>Comment</label><br>
                                            <small>Any message or note for beautician?</small>
                                            <textarea class="form-control" name="DComment" id="client__comment"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>

                        <!------------------------------Step 4-------------------------->
                        <div class="vbooking__step" id="step-4">
                            <div class="col-md-12">
                                <h3 class="step-4__title">Booking Summary</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3>Service For :</h3>
                                        <p id="getCName1"></p>
                                        <h3>Phone Number :</h3>
                                        <p id="getCPhone1"></p>
                                        <h3>Email :</h3>
                                        <p id="getCEmail1"></p>
                                    </div>
                                    <div class="col-md-6">
                                        <h3>Request To : </h3>
                                        <p id="getArtist"><%= art[0].Name %></p>
                                        <h3>Date Of Plan :</h3>
                                        <p><span id="getDate1"></span><span id="getTime1"></span></p>
                                        <h3>Location :</h3>
                                        <p><span id="getCity1"></span><span id="getDistrict1"></span></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="cart-items-2">

                                </div>
                                <div class="cartSum">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-10 text-right">
                                                    <b>Sub Total</b>
                                                </div>
                                                <div class="col-md-2" id="getSubtotal1" style="text-align: right">
                                                    0
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-10 text-right">
                                                    <b>Grand Total</b>
                                                </div>
                                                <div class="col-md-2" id="getGrandtotal1"  style="text-align: right">
                                                    0
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>
                                                <input type="checkbox" name="confirm" value="1">
                                                I have agreed to HelloBeauty Terms & Conditions
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <hr>

                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-left" id="prevBtn" onclick="nextPrev(-1)"><i class="fas fa-chevron-left"></i><span>    Previous</span></button>
                            <button type="button" class="btn btn-right" id="nextBtn" onclick="nextPrev(1);getInfoStep1();"><span>Next  </span><i class="fas fa-paper-plane"></i></button>
                            <button type="submit" class="btn btn-right" id="submitBtn" ><span>SUBMIT  </span><i class="fas fa-paper-plane"></i></button>
                            <div style="clear: both;"></div>
                        </div>


                    </form>
                </div>
            </div>

            <!------------------------------Right Box-------------------------->
            <div class="col-md-4" style="margin-top: 50px;">
                <div class="vbooking__box">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Overview</h5>
                            <table class="table">
                                <tr>
                                    <td>Subtotal:</td>
                                    <td><b id="getSubtotal" class="money">0</b></td>
                                </tr>
                                <tr>
                                    <td>Grand Total:</td>
                                    <td><b id="getGrandtotal" class="money">0</b></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-12 box__info">
                            <p><b>Client Information</b></p>
                            <p id="getCName"></p>
                            <p><span id="getDistrict"></span><span id="getCity"></span></p>
                            <p id="getCPhone"></p>
                            <p><b>Date & Time</b></p>
                            <p><span id="getDate"></span>  &nbsp; &nbsp;  <span id="getTime"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer')-%>



<script src="/libs/jQuery/jQuery.js"></script>
<script src="/libs/clockpicker-gh-pages/dist/bootstrap-clockpicker.min.js"></script>
<script src="/libs/datepicker/datepicker.js"></script>
<script src="/libs/Number-Input-Spinner-jQuery-Nice-Number/dist/jquery.nice-number.js"></script>
<script type="text/javascript" src="/libs/Auto-Format-Currency-With-jQuery/simple.money.format.js"></script>
<script type="text/javascript">
    $('.money').simpleMoneyFormat();
</script>


<script src="/js/serviceCart.js"></script>
<script src="/js/home-son.js"></script>
<script>
    $('.datepicker').datepicker();
    $('.clockpicker').clockpicker();


    // Select City and District Cascade
    $("#Ccity").change(function() {
        if($(this).data('options') === undefined){
            $(this).data('options',$('#Cdistrict option').clone());
        }
        var id = $(this).val() ;
        var options = $(this).data('options').filter('[value='+ id +']');
        $('#Cdistrict').html(options);
    });





    // Progress Bar and Step Form

    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab


    function showTab(n) {
        var x = document.getElementsByClassName("vbooking__step");
        x[n].style.display = "block";
        if (n === 0) {
            document.getElementById("prevBtn").style.display = "none";
            // document.getElementById("nextBtn").setAttribute('onclick','getInfoStep1()');
        } else {
            document.getElementById("prevBtn").style.display = "inline";
        }
        if (n >= x.length - 1) {
            // document.getElementById("nextBtn").innerHTML = "CONFIRM <i class=\"fas fa-paper-plane\"></i>";
            document.getElementById("nextBtn").style.display = "none";
            document.getElementById("submitBtn").style.display = "block";
            // document.getElementById("nextBtn").setAttribute('type','submit');
        } else {
            document.getElementById("nextBtn").innerHTML = "Next <i class=\"fas fa-chevron-right\">";
            document.getElementById("nextBtn").setAttribute('type','button');
        }
        fixStepIndicator(n)
    }


    function nextPrev(n) {
        var x = document.getElementsByClassName("vbooking__step");
        // if (n == 1 && !validateForm() && currentTab < 2) return false;
        x[currentTab].style.display = "none";
        currentTab = currentTab + n;
        if (currentTab >= x.length) {
            document.getElementById("bookForm").submit();
            return false;
        }
        showTab(currentTab);

    }

    function validateForm() {
        // This function deals with validation of the form fields
        var x, y, i, valid = true;
        x = document.getElementsByClassName("vbooking__step");
        y = x[currentTab].getElementsByTagName("input");
        for (i = 0; i < y.length; i++) {
            if (y[i].value == "") {
                y[i].className += " invalid";
                valid = false;
            }
        }
        // If the valid status is true, mark the step as finished and valid:
        if (valid) {
            document.getElementsByClassName("vbooking__step")[currentTab].className += " finish";
        }
        return valid; // return the valid status
    }


    function fixStepIndicator(n) {

        var x = document.getElementsByClassName("progress__step");
        for (let i = 0; i < x.length; i++) {
            x[i].className = x[i].className.replace(" active__step", "");
        }
        for(let j=0; j < n+1; j++){
            x[j].className += " active__step";
        }

    }


    //Get Number
    function getNumber (){
        let pNumbers = parseInt($('#qty__persons').val());
        let cartRowTitle = document.getElementsByClassName('service__title');
        let textSelect = $('#service__select option:selected').text();
        for(let i =0; i <cartRowTitle.length; i++){
            if(cartRowTitle[i].textContent === textSelect){
                document.getElementsByClassName('service__title')[i].parentElement.children[1].children[0].innerText = pNumbers;
                document.getElementsByClassName('service__title1')[i].parentElement.children[1].children[0].innerText = pNumbers;
                let x = selectList.indexOf(textSelect)+1;
                document.getElementsByClassName('service__title')[i].parentElement.children[2].children[0].innerText = pNumbers*selectList[x];

            }
        }

    }

    //Reset Number
    function resetNumber(){
        document.getElementById('qty__persons').value = 1;
    }
    //AddToCart
    // Number Spinner
    var selectList = [];


    let clientName = document.getElementById('Cname').value;


    function addToCart(){
        let title = $('#service__select option:selected').text();
        let price;
        let sname = document.getElementsByClassName('SName');
        let sprice = document.getElementsByClassName('SPrice');
        for(let i=0; i< sname.length; i++){
            if(title=== sname[i].textContent) {
                let x;
                x = parseInt(sprice[i].textContent);
                if(typeof x === "number") price = x;
            }
        }
        addService(title, price);
        getNumber(price);
    }

    function  addService(title, price){
        selectList.push(title, price);
        var cartRow = document.createElement('div')
        cartRow.classList.add('cart-row')
        cartRow.classList.add('row')
        var cartItem = document.getElementsByClassName('cart-items')[0]
        var cartRowContent = `
        <div class="col-11">
            <h3 class="service__title">${title}</h3>
            <p><span class="display__number">1</span> x <span name="price">${price}</span></p>
            <p name="thanhtien"><b class="display__total"></b></p>
        </div>
        <div class="col-1">
            <a class="btn__remove" onclick="removeItem()"><i class="fas fa-times fa-lg" style="color: var(--main-color)"></i></i> </a>
        </div>`
        cartRow.innerHTML = cartRowContent

        cartItem.append(cartRow);




        var cartRow1 = document.createElement('div')
        cartRow1.classList.add('cart-row')
        cartRow1.classList.add('row')
        var cartItem1 = document.getElementsByClassName('cart-items-2')[0]
        var cartRowContent1 = `
        <div class="col-12">
            <h3 class="service__title1">${title}</h3>
            <p><span class="display__number1" name="quantity1">1</span> x <span name="price1">${price}</span></p>
            <p style="float: right"><b class="display__total1" name="thanhtien1"></b></p>
        </div>`
        cartRow1.innerHTML = cartRowContent1;
        cartItem1.append(cartRow1);
    }

    //Get Info and Print on the Step 4
    function getInfoStep1(){
        document.getElementById('getCName').innerHTML = document.getElementById('Cname').value;
        document.getElementById('getCName1').innerHTML = document.getElementById('Cname').value;
        document.getElementById('getCity').innerHTML = document.getElementById('Ccity').options[document.getElementById('Ccity').selectedIndex].text;
        document.getElementById('getCity1').innerHTML = document.getElementById('Ccity').options[document.getElementById('Ccity').selectedIndex].text + ",  ";
        document.getElementById('getDistrict').innerHTML = document.getElementById('Cdistrict').options[document.getElementById('Cdistrict').selectedIndex].text + ", ";
        document.getElementById('getDistrict1').innerHTML = document.getElementById('Cdistrict').options[document.getElementById('Cdistrict').selectedIndex].text;
        document.getElementById('getCPhone').innerHTML = document.getElementById('Cphone').value;
        document.getElementById('getCPhone1').innerHTML = document.getElementById('Cphone').value;
        document.getElementById('getDate').innerHTML = document.getElementById('Cdate').value + " ";
        document.getElementById('getDate1').innerHTML = document.getElementById('Cdate').value + " ";
        document.getElementById('getTime').innerHTML = document.getElementById('Ctime').value;
        document.getElementById('getTime1').innerHTML = document.getElementById('Ctime').value;
        document.getElementById('getCEmail1').innerHTML = document.getElementById('Cemail').value;
    }


    function getSum(){
        let x = document.getElementsByClassName('display__total');
        let sum = 0;
        for(let i=0; i < x.length; i++){
            sum = sum + parseInt(x[i].innerHTML);
        }

        document.getElementById('getSubtotal').innerHTML = sum;
        document.getElementById('getSubtotal1').innerHTML = sum;
        document.getElementById('getGrandtotal').innerHTML = sum;
        document.getElementById('getGrandtotal1').innerHTML = sum;
    }

    $(function() {
        $('input[type="number"]').niceNumber({
            autoSize: false,
            autoSizeBuffer: 1,
            buttonDecrement: '-',
            buttonIncrement: "+",
            buttonPosition: 'around'
        });
        $('#btnchangeplus').click(function () {
            let textSelect = $('#service__select option:selected').text()
            if (selectList.length === 0) {
                addToCart();
                // getNumber();
                getSum();
            } else {
                if (selectList.includes(textSelect)) {
                    // getNumber();
                    getSum();
                } else {
                    addToCart();
                    // getNumber();
                    getSum();
                }
            }
        })
        $('#btnchangeminus').click(function () {
            getSum()
        })
    })




    // Remove Service Button
    //REMOVE nhưng chưa xóa khỏi mảng SelectList được
    function removeItem(){
        let removeItemBtn = document.getElementsByClassName("btn__remove");
        for(let i=0; i < removeItemBtn.length; i++){
            let button = removeItemBtn[i];
            button.addEventListener('click',(event)=>{
                let buttonClicked = event.target;
                let title = buttonClicked.parentElement.parentElement.children[0].children[0].innerText;
                buttonClicked.parentElement.parentElement.parentElement.remove();
                for(let j=0; j < selectList.length; j++){
                    if(selectList[j] === title){
                        selectList.splice(j,2);
                    }
                }
            })
        }
    }

</script>

//Create AJAX
// var length = $('.service__title').length;
// var data = [];
//
// for(let i = 0; i < length; i++){
//     data.push({
//         title: $('.service__title').eq(i).text(),
//         quantity: parseInt($('.display__number').eq(i).text()),
//         subtotal: parseInt($('.display__total').eq(i).text())
//     })
// }
<script>
    $("button[type='submit']").click(function (){

        var length = $('.service__title').length;
        var title = [];
        var quantity = [];
        var subtotal = [];

        for(let i = 0; i < length; i++){

                title.push($('.service__title').eq(i).text());
                quantity.push(parseInt($('.display__number').eq(i).text()));
                subtotal.push(parseInt($('.display__total').eq(i).text()));

        }
        $.ajax({
            url: "../booking/success",
            type: "POST",
            data: {title:title, quantity:quantity, subtotal:subtotal}
            // contentType: "application/x-www-form-urlencoded"
          });
    });

</script>
</body>
</html>