<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="/css/lab13.css"/>
    <link href="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/js/jquery.js">
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="/libs/bootstrap/js/bootstrap.js"></script>
</head><body>
<section class="section">
    <div class="container">
            <h1><%= city.label %></h1>
            <h2>Diện tích: <%= city.area %></h2>
            <p><%= city.description %></p>
    </div>
</section>
         <div class="owl-carousel owl-theme">
             <div class="item">
                 <a href="#" class="swiper-slide-a">
                     <div class="swiper-slide-a-menu">
                         <% sps.map(function (v) { %>
                             <div>
                                 <div>
                                     <img class="img-fluid imgs" src="<%= v.Avartar %>" alt="a">
                                 </div>
                                 <div>
                                     <div class="tensp"><%= v.aName %></div>
                                     <div class="tensp"><%= v.timeClose %></div>
                                     <div class="tensp"><%= v.aLocation %></div>
                                     <div class="tensp"><%= v.Intro %></div>
                                 </div>
                             </div>
                         <% }) %>
                     </div>
                 </a>
             </div>
         </div>
         <script type="text/javascript">
             $('.owl-carousel').owlCarousel({
                 loop:true,
                 margin:20,
                 nav:true,
                 dots:false,
                 autoplay:true,
                 autoplayTimeout:3000,
                 autoplayHoverPause:true,
                 responsive:{
                     0:{
                         items:1
                     },
                     600:{
                         items:2
                     },
                     1000:{
                         items:4
                     }
                 }
             })
         </script>
</body>
</html>