 <!DOCTYPE html>
 <html lang="en">
 <%- include("layout/header-son") -%>
 <body>

 <section class="section sticky-top-s ">
     <nav class="navbar navbar-expand-md navbar-light nav-head-s" id="nav-head-s">
         <div class="container-fluid">
             <div class="img-nav-s">
                 <a class="navbar-branch" href="/">
                     <img class="img-fluid img-nav-s" src="/imgs-s/logo-salmon.png">
                 </a>
             </div>
             <div id="nav-pro" class="nav-from">
                 <form class="form-group form-group-nav-pro" action="/Promotion/Servis/search" method="get" >
                     <input class="form-control form-group-nav-pro-input" type="text" name="keyword" placeholder="Type beautician's name or service category"/>
                     <span class="form-group-nav-pro-icon"><i class="fa fa-search search-buton-s1"></i></span>
                 </form>
             </div>
             <button class="navbar-toggler" type="button" data-toggle="collapse"
                     data-target="#navbarResponsive">
                 <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarResponsive">
                 <ul class="navbar-nav ml-auto">
                     <li class="nav-item nav-item-s1">
                         <div class="dropdown">
                             <button type="button" class="btn btn-outline-danger dropdown-toggle btn-nav-s1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 For Client
                             </button>
                             <div class="dropdown-content">
                                 <a class="dropdown-item nav-item-s-dropdown-s2" href="/artisan-registration-and-service">Beauty Job Artist</a>
                                 <div class="dropdown-divider nav-item-s-divider"></div>
                                 <a class="dropdown-item nav-item-s-dropdown-s2" href="/Promotion">Beauty Outlet</a>
                             </div>
                         </div>
                     </li>
                     <li class="nav-item nav-item-s">
                         <div class="dropdown">
                             <button type="button" class="btn btn-outline-light dropdown-toggle btn-nav-s2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 Partner With Us
                             </button>
                             <div class="dropdown-content">
                                 <a class="dropdown-item nav-item-s-dropdown" href="/BeautyArtist">Beauty Artists</a>
                                 <div class="dropdown-divider nav-item-s-divider"></div>
                                 <a class="dropdown-item nav-item-s-dropdown" href="/Promotion">Beauty Outlets</a>
                             </div>
                         </div>
                     </li>
                     <li class="nav-item nav-item-s">
                         <a href="#" class="notamenu notamenus"><i style="color: #ff5c5c" class="fa">&#xf290;</i></a>
                     </li>
                     <li class="nav-item nav-item-s">
                         <button class="btn btn-outline-light btn-nav-s2" data-toggle="modal" data-target="#myModal"><a href="/registet" style="text-decoration: none; color: white">Register</a> </button>
                     </li>
                     <li class="nav-item nav-item-s">
                         <button class="btn btn-outline-light btn-nav-s2" data-toggle="modal" data-target="#myModallogin"><a href="/login">Login</a> </button>
                     </li>
                 </ul>
             </div>
         </div>
     </nav>
 </section>
 <section class="section">
     <div class="sbuttons">

         <a href="#" target="_blank" class="sbutton whatsapp" tooltip="WhatsApp"><i class="fab fa-whatsapp"></i></a>

         <a href="#" target="_blank" class="sbutton fb" tooltip="Facebook"><i class="fab fa-facebook-f"></i></a>

         <a href="#" target="_blank" class="sbutton gplus" tooltip="Google Plus"><i class="fab fa-google-plus-g"></i></a>

         <a href="#" target="_blank" class="sbutton twitt" tooltip="Twitter"><i class="fab fa-twitter"></i></a>

         <a href="#" target="_blank" class="sbutton pinteres" tooltip="Pinterest"><i class="fab fa-pinterest-p"></i></a>

         <a target="_blank" class="sbutton mainsbutton" tooltip="Share"><i class="fas fa-share-alt"></i></a>

     </div>
 </section>
 <section class="section head-s1">
     <div class="video-s">
         <video id="video_background" preload="auto" autoplay="true" loop="loop" muted volume="0">
             <source src="/videos/Makeup Artist Business Profile.mp4" type="video/mp4"/>
         </video>
     </div>
 </section>
 <section>
     <div class="H1-s">
         <div id="textSlider">
             <div class="slideCol">
                 <div class="scroller">
                     <div class="inner">
                         <p>Be Hold</p>
                         <p>Be yourself</p>
                         <p>Be confident</p>
                         <p>Be colorful</p>
                         <p>Be free</p>
                         <p>Be drave</p>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div class="span-s">
         <span>Discover and book beauty & wellness professionals near you</span>
     </div>
     <div class="seach-s1">
         <div class="d-flex">
             <div class="col-lg-6 dflexlefts1">
                 <!-- Button trigger modal -->
                 <button type="button" class="btn btn-light search-buton-s01" data-toggle="modal" data-target="#exampleModal">
                     <div class="d-flex search-buton">
                         <div class="col-lg-1">
                             <i class="fa fa-search search-buton-s1"></i>
                         </div>
                         <div class="col-lg-11">
                             <span class="search-buton-s1">Book your services...</span>
                         </div>
                     </div>
                 </button>

                 <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                     <div class="modal-dialog modal-lg" role="document">
                         <div class="modal-content">
                             <div class="modal-header">
                                 <div class="d-flex modal-s1">
                                     <div class="col-lg-1">
                                         <button type="button" class="close close-s1" data-dismiss="modal" aria-label="Close">
                                             <span aria-hidden="true"><i class='fas fa-arrow-left' ></i></span>
                                         </button>
                                     </div>
                                     <div class="col-lg-11 col-lg-10-modal">
                                         <h5 class="modal-title modal-title-s1" id="exampleModalLabel">
                                             <form class="form-group col-lg-10-modal" action="/Promotion/ServicName/search" method="get">
                                                 <input class="form-control input-s1" type="text" name="keyword" placeholder="What are your looking for?"/>
                                                 <button class="btn btn-primary input-s11-s1" type="submit">Search</button>
                                             </form>
                                         </h5>
                                     </div>
                                 </div>
                             </div>
                             <div class="modal-body modal-body-s1">
                                 <div class="modal-body-top">
                                     <span class="modal-body-top-span">POPULAR SERVICES</span>
                                 </div>
                                 <div class="modal-body-bottom">
                                     <div class="d-flex modal-body-bottom-s0">
                                         <% vps.map(function (v) { %>
                                             <div class="col-auto modal-body-bottom-s01">
                                                 <a href="/Promotion/servic/<%= v.T_Id %>">
                                                     <button class="btn btn-outline-light modal-body-bottom-s1"  data-toggle="modal" data-target="#myModallogin">
                                                         <%= v.TName%>
                                                     </button></a>
                                             </div>
                                         <% }) %>
                                     </div>
                                 </div>
                             </div>
                             <div class="modal-footer modal-footer-s1">

                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-6 dflexrights1">
                 <div class="search">
                     <button type="button" class="btn btn-light search-buton-s02" data-toggle="modal" data-target="#exampleModalCenter">
                         <div class="search-buton">
                             <div class="d-flex">
                                 <div class="col-lg-10 search-buton-left">
                                     <i class='fas fa-map-marker-alt search-buton-s1'>&nbsp&nbsp&nbsp</i>
                                         <pre class="search-buton-s1 pre-son-s1">Locating you...</pre>
                                     <script type="text/javascript">
                                         const address = document.querySelector("pre");

                                         function onError() {
                                             address.textContent = "Unable to locate you";
                                         }
                                         async function onSuccess(position) {
                                             const geocode = await fetch(`https://geocode.xyz/${position.coords.latitude},${position.coords.longitude}?json=1`);
                                             const geoResponse = await geocode.json();
                                             address.textContent = ` ${geoResponse.staddress},${geoResponse.city},${geoResponse.country}`;
                                         }

                                         if (!navigator.geolocation) {
                                             onError();
                                         } else {
                                             navigator.geolocation.getCurrentPosition(onSuccess, onError);
                                         }
                                     </script>
                                 </div>
                                 <div class="col-lg-2 search-buton-right">
                                     <i class='fas fa-location-arrow search-buton-s1'></i>
                                 </div>
                             </div>
                         </div>
                     </button>
                 </div>
             </div>
             <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                 <div class="modal-dialog modal-lg" role="document">
                     <div class="modal-content">
                         <div class="modal-header">
                             <div class="d-flex modal-s1">
                                 <div class="col-lg-1">
                                     <button type="button" class="close close-s1" data-dismiss="modal" aria-label="Close">
                                         <span aria-hidden="true"><i class='fas fa-arrow-left' ></i></span>
                                     </button>
                                 </div>
                                 <div class="col-lg-11 col-lg-10-modal">
                                     <h5 class="modal-title modal-title-s1" id="exampleModalLabel">
                                         <form class="form-group col-lg-10-modal" action="/Promotion/ServicName/search" method="get">
                                             <input class="form-control input-s1" type="text" name="keyword" placeholder="Where?"/>
                                             <button class="btn btn-primary input-s11" type="submit">Search</button>
                                         </form>
                                     </h5>
                                 </div>
                             </div>
                         </div>
                         <div class="modal-body">
                             <div class="d-flex">
                                 <div class="col-lg-1"><i class='fas fa-location-arrow modal-body-arow'></i></div>
                                 <div class="col-lg-7">
                                     <div class="modal-body-span">
                                         Your Current Location
                                     </div>
                                         <strong class="search-buton-s1 pre-son-s1">Locating you...</strong>
                                         <script type="text/javascript">
                                             const address2 = document.querySelector("strong");

                                             function onError() {
                                                 address2.textContent = "Unable to locate you";
                                             }
                                             async function onSuccess(position) {
                                                 const geocode2 = await fetch(`https://geocode.xyz/${position.coords.latitude},${position.coords.longitude}?json=1`);
                                                 const geoResponse2 = await geocode2.json();
                                                 address2.textContent = ` ${geoResponse2.staddress},${geoResponse2.city},${geoResponse2.country}`;
                                             }

                                             if (!navigator.geolocation) {
                                                 onError();
                                             } else {
                                                 navigator.geolocation.getCurrentPosition(onSuccess, onError);
                                             }
                                         </script>
                                 </div>
                                 <div class="col-lg-4">
                                     <form action="/map" method="get">
                                         <button class="btn btn-primary input-s12" type="submit">Search Near Me</button>
                                     </form>
                                 </div>
                             </div>
                         </div>
                         <div class="modal-footer modal-body-s2">
                             <div class="modal-body-top2">
                                 <span class="modal-body-top-span2">POPULAR SERVICES</span>
                             </div>
                             <div class="modal-body-bottom2">
                                 <div class="d-flex modal-body-bottom-s0">
                                     <% dps.map(function (v) { %>
                                     <div class="col-auto modal-body-bottom-s01">
                                            <a href="/Promotion/District/<%= v.Id %>">
                                                <button class="btn btn-outline-light modal-body-bottom-s1" name="District" >
                                                    <%= v.Name%>
                                               </button>
                                            </a>
                                     </div>
                                         <% }) %>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div class="header-fooder">
         <div class="d-flex">
             <div class="col-lg-2"><a class="header-fooder-notamenu" href="/about-us"><span class="header-fooder-notamenu-span">About Us</span></a></div>
             <div class="col-lg-2"><a class="header-fooder-notamenu" href="/BeautyArtist"><span class="header-fooder-notamenu-span">Services</span></a></div>
             <div class="col-lg-2"><a class="header-fooder-notamenu" href="/BeautyArtist"><span class="header-fooder-notamenu-span">Artists</span></a></div>
             <div class="col-lg-2"><a class="header-fooder-notamenu" href="/Gallery"><span class="header-fooder-notamenu-span">Gallery</span></a></div>
             <div class="col-lg-2"><a class="header-fooder-notamenu" href="/beautydaily"><span class="header-fooder-notamenu-span">Blog</span></a></div>
             <div class="col-lg-2"><a class="header-fooder-notamenu" href="#"><span class="header-fooder-notamenu-span">Book Now</span></a></div>
         </div>
     </div>
 </section>

 <hr class="beotihr-01">
 <section class="section container-s1 container-s1-s0-s1">
       <div class="container">
             <div class="tiller-s22">
                   <span class="tiller-s22-s0">WHAT WE DO</span>
                   <h3 class="tiller-s22-h3">MAKEUP SERVICES</h3>
                 <hr class="tiller-s22-span-s1">
             </div>
                   <div class="menu-s">
                       <a href="/BeautyArtist" class="menus0212">
                           <div class="menu-s1">
                               <div class="menu-s1-span">Discover Salon, Spa, Beauty Clinics, and many more</div>
                               <div class="menu-s2-search">
                                   <button class="btn btn-outline-light menu-s2-search-button" data-toggle="modal" data-target="#myModallogin">Search</button>
                               </div>
                           </div>
                       </a>
                   </div>
                    <div class="menu-s02">
                        <div id="lightSliders3">
                            <% vps.map(function (v) { %>
                                    <div class="col-lg-4 menus021-s1">
                                        <a href="/Promotion/servic/<%= v.T_Id %>" class="menus0212">
                                                <div class="menu-img left-images">
                                                    <img src="<%= v.Title %>" class="img-fluid menus0212-menu-s2 zoom-hulot" alt="a">
                                                </div>
                                                <div class="menus0212-span">
                                                        <span class="menus0212-span-span"><%= v.TName %></span>
                                                </div>
                                        </a>
                                    </div>
                                <% }) %>
                                <script type="text/javascript" src="/js/scrip-son3.js"></script>
                        </div>
                    </div>
       </div>
</section>
 <hr class="beotihr-02">
 <section class="section container-s1 container-s1-s1 container-s1-s1-s1">
     <div class="container tillets1">
         <div class="tiller-s22-s1-s1 tiller-s22-s1-s1-s1">
             <span class="tiller-s22-s0">OUR AWESOME</span>
             <h3 class="tiller-s22-h3"><a href="/Promotion" class="tiller-s22-h3-a">OFFERS FROM MAKEUP ARTIST</a> </h3>
             <hr class="tiller-s22-span-s1">
         </div>
         <div class="Beauty-Artist">
                 <% sps.map(function (v) { %>
                     <div class="Beauty-Artist-s1">
                         <a href="/service/<%= v.Id %>" class="Beauty-Artist-a">
                                     <img class="img-fluid imgs-cover" src="<%= v.Cover %>" alt="a">
                                     <img class="imgs-avartar" src="<%= v.Avartar %>" alt="a">
                             <div class="Beauty-Artist-s112">
                                 <span class="Beauty-Artist-s112-span"><%= v.Name %></span>
                             </div>
                             <div class="Beauty-Artist-s1123">
                                 <span class="Beauty-Artist-s1123-a">Discount <%= v.SPromo %>% OFF</span>
                             </div>
                             <div class="Beauty-Artist-s12">
                                     <div class="d-flex Beauty-Artist-s121">
                                         <div class="tensp"><span class="Beauty-Artist-s121-span"><del><%= v.SPrice %> VND</del></span></div>
                                         <div class="Beauty-Artist-s1212"><i class='fas fa-arrow-right Beauty-Artist-s121-span-icon'></i></div>
                                         <div class="tensp"><span class="Beauty-Artist-s121-span">
                                                 <script type="text/javascript">
                                                        var a= parseInt('<%= v.SPrice*(1-v.SPromo/100) %>');
                                                        document.write(a);
                                                 </script>
                                          VND</span>
                                         </div>
                                     </div>
                                 <div class="Beauty-Artist-s12-name">

                                         <span><%= v.TName %> </span>

                                 </div>
                                 <hr>
                                 <div class="d-flex">
                                     <div class="col-lg-6 Beauty-Artist-s126">
                                         <div class="d-flex Beauty-Artist-s125">
                                                 <i class="fa fa-clock-o Beauty-Artist-s125-icon"></i>&nbsp&nbsp
                                                 <span class="Beauty-Artist-s125-span">Until</span>
                                         </div>
                                         <div class="Beauty-Artist-s12-SWTime">
                                             <span class="date"  id="demo">
                                                  <script type="text/javascript">
                                                         var currentTime = new Date('<%= v.SWTime %>')
                                                         var month = currentTime.getMonth() + 1
                                                         var day = currentTime.getDate()
                                                         var year = currentTime.getFullYear()
                                                         document.write(day + "/" + month + "/" + year)
                                                  </script>
                                             </span>
                                         </div>
                                     </div>
                                     <div class="col-lg-6">
                                         <div class="d-flex Beauty-Artist-s125">
                                                 <i class='fas fa-map-marker-alt Beauty-Artist-s125-icon'></i>&nbsp&nbsp
                                                 <span class="Beauty-Artist-s125-span">District</span>
                                         </div>
                                         <div class="Beauty-Artist-s12-SWTime">
                                             <span><%= v.District %> </span>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </a>
                     </div>
                 <% }) %>
         </div>
     </div>

     <hr class="beotihr-03">
 </section>

 <section class="section container-s1 container-s1-s0-s2">

     <div class="container tillets1">
         <div class="tiller-s22-s1-s1">
             <span class="tiller-s22-s0"><u>NEW!</u></span>
             <h3 class="tiller-s22-h3"><a href="/New-Arists" class="tiller-s22-h3-a">NEW MAKEUP ARTIST</a> </h3>
             <hr class="tiller-s22-span-s1">
         </div>
     <div class="Beauty-Artist">
             <div id="lightSliders">
                 <% aps.map(function (v) { %>
                     <div class="Beauty-Artist-s1 Beauty-Artist-s1-ss1">
                         <a href="/service/<%= v.Id %>" class="Beauty-Artist-a">
                             <img class="img-fluid imgs-cover imgs-cover-ss1" src="<%= v.Cover %>" alt="a">
                             <img class="imgs-avartar-22" src="<%= v.Avartar %>" alt="a">
                             <div class="Beauty-Artist-s112">
                                 <a href="#" class="Beauty-Artist-s112-a"><span class="Beauty-Artist-s112-span"><%= v.Name %></span></a>
                             </div>
                             <div class="Beauty-Artist-s1123">
                                 <span class="Beauty-Artist-s1123-a">Discount <%= v.SPromo %>% OFF</span>
                             </div>
                             <div class="Beauty-Artist-s12">

                                 <hr>
                                 <div class="d-flex">
                                     <div class="col-lg-6 Beauty-Artist-s126 Beauty-Artist-s126-s1l2">
                                         <div class="d-flex Beauty-Artist-s125">
                                                 <i class='far fa-money-bill-alt Beauty-Artist-s125-icon-s2'></i>&nbsp&nbsp
                                                 <span class="Beauty-Artist-s125-span-s2">Start From</span>
                                         </div>
                                         <div class="Beauty-Artist-s12-SWTime">
                                             <span><%= v.SPrice %></span>
                                         </div>
                                     </div>
                                     <div class="col-lg-6">
                                         <div class="d-flex Beauty-Artist-s125">
                                                 <i class='fas fa-map-marker-alt Beauty-Artist-s125-icon'></i>&nbsp&nbsp
                                                 <span class="Beauty-Artist-s125-span">District</span>
                                         </div>
                                         <div class="Beauty-Artist-s12-SWTime">
                                             <span><%= v.District %> </span>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </a>
                     </div>
                 <% }) %>
                     <script type="text/javascript" src="/js/slide-son2.js"></script>
             </div>
         </div>
     </div>
     <hr class="beotihr-04">
 </section>
 <section class="section container-s1 container-s1-s1 container-s1-s1-s3">
     <div class="container tillets2">
         <div class="tiller-s22-s1-s1">
             <span class="tiller-s22-s0"><u>BEST!</u></span>
             <h3 class="tiller-s22-h3">MAKEUP ARTIST THE MONTH</h3>
             <hr class="tiller-s22-span-s1">
         </div>
     </div>
     <div class="container container-new-s1">
         <div class="container-new-s2">
             <div id="lightSliders1">
                 <% mps.map(function (v) { %>
                     <div class="Beauty-Artist-s1 Beauty-Artist-s1-ss Beauty-Artist-s1-ss-s1">
                         <a href="/service/<%= v.Id %>" class="Beauty-Artist-a">
                             <img class="img-fluid imgs-cover imgs-cover-ss1" src="<%= v.Avartar %>" alt="a">
                        <div class="icon-imgs-cover-ss1"><i class='fas fa-certificate' style='font-size:48px;color:red'></i></div>
                             <div class="Beauty-Artist-s112">
                           <span class="Beauty-Artist-s112-span Beauty-Artist-s112-span-s1"><%= v.Name %></span>
                             </div>
                             <div class="Beauty-Artist-s1123">
                              <img class="img-fluid imgs-cover imgs-cover-ss1" style="width: 50%" src="<%= v.imagerating %>">
                             </div>
                             <span class="imgs-avartar-ss1-s2-span"><%= v.STT %></span>
                             <div class="Beauty-Artist-s12">

                                 <hr>
                                 <div class="d-flex">
                                     <div class="col-lg-6 Beauty-Artist-s126 Beauty-Artist-s126-s1l2">
                                         <div class="d-flex Beauty-Artist-s125">
                                                 <i class='far fa-money-bill-alt Beauty-Artist-s125-icon-s2'></i>&nbsp&nbsp
                                                 <span class="Beauty-Artist-s125-span-s2">Start From</span>
                                         </div>
                                         <div class="Beauty-Artist-s12-SWTime">
                                             <span> <%= v.SPrice %></span>
                                         </div>
                                     </div>
                                     <div class="col-lg-6">
                                         <div class="d-flex Beauty-Artist-s125">
                                                 <i class='fas fa-map-marker-alt Beauty-Artist-s125-icon'></i>&nbsp&nbsp
                                                 <span class="Beauty-Artist-s125-span">District</span>
                                         </div>
                                         <div class="Beauty-Artist-s12-SWTime">
                                             <span><%= v.District %> </span>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </a>
                     </div>
                 <% }) %>
<script type="text/javascript" src="/js/slide-son1.js"></script>
             </div>
         </div>
     </div>
     <hr class="beotihr-05">
 </section>
 <section class="section container-s1">

     <div class="container tillets2-foot">
         <div class="tiller-s">
                 <h2 class="tiller-s2">Featured On</h2>
         </div>
     </div>
     <div class="container">
         <div class="d-flex food-s1">
             <div class="col-lg-6">
                 <a href="#"><img src="/imgs-s/logologo01.png" alt="1"></a>
             </div>
             <div class="col-lg-6">
                 <a href="#"><img src="/imgs-s/logologo02.png" alt="1"></a>
             </div>
         </div>
         <div class="d-flex food-s1">
             <div class="col-lg-8 foot-don">
                 <a href="#" class="fffffooot"><img src="/imgs-s/logologo03.png" alt="1"></a>
             </div>
             <div class="col-lg-4">
                 <a href="#"><img src="/imgs-s/logologo05.png" alt="1"></a>
             </div>
         </div>
         <div class="food-s1">
             <a href="#"><img src="/imgs-s/logologo04.png" alt="1"></a>
         </div>
         <div class="d-flex food-s1">
             <div class="col-lg-6">
                 <a href="#"><img src="/imgs-s/logologo06.png" alt="1"></a>
             </div>
             <div class="col-lg-6">
                 <a href="#"><img src="/imgs-s/logologo07.png" alt="1"></a>
             </div>
         </div>
     </div>
         </div>
     </div>
 </section>
<%- include("layout/footer") -%>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/libs/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="/libs/bootstrap/js/validator.js"></script>
<script src="/libs/lightslider/js/lightslider.js"></script>
 <script type="text/javascript" src="/js/script.js"></script>
 </body>
 </html>