 <!DOCTYPE html>
 <html lang="en">
 <%- include("header-son") %>
 <body>

 <%- include("Preloader-son") %>

 <section class="section head-s1">
  <div class="video-s">
   <video id="video_background" preload="auto" autoplay="true" loop="loop" muted volume="0">
    <source src="/videos-s/Makeup Artist Business Profile.mp4" type="video/mp4"/>
   </video>
  </div>
   <nav class="navbar navbar-expand-md navbar-light sticky-top nav-head-s" id="nav-head-s">
    <div class="container-fluid">
     <div class="img-nav-s">
      <a class="navbar-branch" href="#">
       <img class="img-fluid img-nav-s" src="/imgs-s/logo-salmon.png">
      </a>
     </div>
     <button class="navbar-toggler" type="button" data-toggle="collapse"
             data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
       <li class="nav-item nav-item-s1">
        <div class="dropdown">
         <button type="button" class="btn btn-outline-danger dropdown-toggle btn-nav-s1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          FOR CLIENT
         </button>
         <div class="dropdown-content">
          <a class="dropdown-item" href="#">Beauty Job Bidding</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Beauty Outlet</a>
         </div>
        </div>
       </li>
       <li class="nav-item nav-item-s">
        <div class="dropdown">
         <button type="button" class="btn btn-outline-light dropdown-toggle btn-nav-s2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          PARTNER WITH US
         </button>
         <div class="dropdown-content">
          <a class="dropdown-item" href="#">Beauty Artists</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Beauty Outlets</a>
         </div>
        </div>
       </li>
       <li class="nav-item nav-item-s">
        <a href="#" class="notamenu notamenus"><i style="color: #ff5c5c" class="fa">&#xf290;</i></a>
       </li>
       <li class="nav-item nav-item-s">
        <button class="btn btn-outline-light btn-nav-s2" data-toggle="modal" data-target="#myModal">Register</button>
       </li>
       <li class="nav-item nav-item-s">
        <button class="btn btn-outline-light btn-nav-s2" data-toggle="modal" data-target="#myModallogin">Login</button>
       </li>
      </ul>
     </div>
    </div>
   </nav>
    <div class="H1-s">
<!--        <div class="sp-container">-->
<!--            <div class="sp-content">-->
<!--                <div class="sp-globe"></div>-->
<!--                <h2 class="frame-1">Be Hold</h2>-->
<!--                <h2 class="frame-2">Be yourself</h2>-->
<!--                <h2 class="frame-3">Be confident</h2>-->
<!--                <h2 class="frame-4">Be colorful</h2>-->
<!--                <h2 class="frame-5">Be free</h2>-->
<!--                <h2 class="frame-6">Be yourself</h2>-->
<!--                <h2 class="frame-7">-->
<!--                    <span>Be</span>-->
<!--                    <span>drave</span>-->
<!--                </h2>-->
<!--                <a class="sp-circle-link" href="https://nick.mkrtchyan.ga">by Nick</a>-->
<!--            </div>-->
<!--        </div>-->

          <div id="carouselExampleSlidesOnly" class="carousel slide carousels1" data-ride="carousel">
           <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-block"><span class="d-block-span">Be Hold</span></div>
            </div>
            <div class="carousel-item">
             <div class="d-block"><span class="d-block-span">Be yourself</span></div>
            </div>
            <div class="carousel-item">
             <div class="d-block"><span class="d-block-span">Be confident</span></div>
            </div>
            <div class="carousel-item">
             <div class="d-block"><span class="d-block-span">Be colorful</span></div>
            </div>
            <div class="carousel-item">
             <div class="d-block"><span class="d-block-span">Be free</span></div>
            </div>
            <div class="carousel-item">
             <div class="d-block"><span class="d-block-span">Be drave</span></div>
            </div>
           </div>
          </div>
     </div>
    <div class="span-s">
        <span>Discover and book beauty & wellness professionals near you</span>
    </div>
     <div class="seach-s1">
      <div class="d-flex">
       <div class="col-lg-6 dflexlefts1">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-light search-buton-s01" data-toggle="modal" data-target="#exampleModal">
            <div class="d-flex search-buton">
             <div class="col-lg-1">
              <i class="fa fa-search search-buton-s1"></i>
             </div>
             <div class="col-lg-11">
              <span class="search-buton-s1">Book your services...</span>
             </div>
            </div>
        </button>

        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
           <div class="modal-header">
              <div class="d-flex modal-s1">
               <div class="col-lg-1">
                <button type="button" class="close close-s1" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true"><i class='fas fa-arrow-left' ></i></span>
                </button>
               </div>
               <div class="col-lg-11 col-lg-10-modal">
                <h5 class="modal-title modal-title-s1" id="exampleModalLabel">
                    <form class="form-group col-lg-10-modal" action="/search" method="get">
                         <input class="form-control input-s1" type="text" name="keyword" placeholder="What are your looking for?"/>
                         <button class="btn btn-primary input-s11" type="submit">Search</button>
                    </form>
                </h5>
               </div>
              </div>
           </div>
           <div class="modal-body modal-body-s1">
                <div class="modal-body-top">
                     <span class="modal-body-top-span">POPULAR SERVICES</span>
                </div>
                <div class="modal-body-bottom">
                 <div class="d-flex modal-body-bottom-s0">
                      <div class="col-auto modal-body-bottom-s01">
                       <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Basic</button>
                      </div>
                      <div class="col-auto modal-body-bottom-s01">
                       <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Wedding</button>
                      </div>
                      <div class="col-auto modal-body-bottom-s01">
                       <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Photoshoot</button>
                      </div>
                      <div class="col-auto modal-body-bottom-s01">
                       <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Bridesmaid</button>
                      </div>
                      <div class="col-auto modal-body-bottom-s01">
                       <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Mother or Sister of The Bride</button>
                      </div>
                      <div class="col-auto modal-body-bottom-s01">
                       <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Engagement</button>
                      </div>
                      <div class="col-auto modal-body-bottom-s01">
                       <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Pre-Wedding</button>
                      </div>
                      <div class="col-auto modal-body-bottom-s01">
                       <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Sweet 17th Birthday</button>
                      </div>
                      <div class="col-auto modal-body-bottom-s01">
                       <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Traditional Wedding</button>
                      </div>
                      <div class="col-auto modal-body-bottom-s01">
                       <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Character,SPFX,Prostethic</button>
                      </div>
                 </div>
                </div>
           </div>
           <div class="modal-footer modal-footer-s1">

           </div>
          </div>
         </div>
        </div>
       </div>
       <div class="col-lg-6 dflexrights1">
           <div class="search">
            <button type="button" class="btn btn-light search-buton-s02" data-toggle="modal" data-target="#exampleModalCenter">
             <div class="search-buton">
              <div class="d-flex">
               <div class="col-lg-10 search-buton-left">
                <i class='fas fa-map-marker-alt search-buton-s1'>&nbsp&nbsp&nbsp</i>
                <span class="search-buton-s1">Hà Nội,Phố Cát Linh</span>
               </div>
               <div class="col-lg-2 search-buton-right">
                <i class='fas fa-location-arrow search-buton-s1'></i>
               </div>
              </div>
             </div>
            </button>
           </div>
       </div>
        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
         <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
           <div class="modal-header">
                <div class="d-flex modal-s1">
                 <div class="col-lg-1">
                  <button type="button" class="close close-s1" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true"><i class='fas fa-arrow-left' ></i></span>
                  </button>
                 </div>
                 <div class="col-lg-11 col-lg-10-modal">
                  <h5 class="modal-title modal-title-s1" id="exampleModalLabel">
                   <form class="form-group col-lg-10-modal" action="/search" method="get">
                    <input class="form-control input-s1" type="text" name="keyword" placeholder="Where?"/>
                    <button class="btn btn-primary input-s11" type="submit">Search</button>
                   </form>
                  </h5>
                 </div>
                </div>
           </div>
           <div class="modal-body">
            <div class="d-flex">
                 <div class="col-lg-1"><i class='fas fa-location-arrow modal-body-arow'></i></div>
                 <div class="col-lg-8">
                     <div class="modal-body-span">
                         Your Current Location
                     </div>
                     <div>
                         Hà nội,Phố Cát Linh
                     </div>
                 </div>
                 <div class="col-lg-3">
                  <button class="btn btn-primary input-s12" type="submit">SEARCH NEAR ME</button>
                 </div>
            </div>
           </div>
           <div class="modal-footer modal-body-s2">
            <div class="modal-body-top2">
             <span class="modal-body-top-span2">POPULAR SERVICES</span>
            </div>
            <div class="modal-body-bottom2">
             <div class="d-flex modal-body-bottom-s0">
              <div class="col-auto modal-body-bottom-s01">
               <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Hai Bà Trưng</button>
              </div>
              <div class="col-auto modal-body-bottom-s01">
               <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Hoàn Kiếm</button>
              </div>
              <div class="col-auto modal-body-bottom-s01">
               <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Hà Đông</button>
              </div>
              <div class="col-auto modal-body-bottom-s01">
               <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Ba Đình</button>
              </div>
              <div class="col-auto modal-body-bottom-s01">
               <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Đống Đa</button>
              </div>
              <div class="col-auto modal-body-bottom-s01">
               <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Cầu Giấy</button>
              </div>
              <div class="col-auto modal-body-bottom-s01">
               <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Hoàng Mai</button>
              </div>
              <div class="col-auto modal-body-bottom-s01">
               <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Tây Hồ</button>
              </div>
              <div class="col-auto modal-body-bottom-s01">
               <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Nam Từ Liêm</button>
              </div>
              <div class="col-auto modal-body-bottom-s01">
               <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Bắc Từ Liêm</button>
              </div>
              <div class="col-auto modal-body-bottom-s01">
               <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Thanh Xuân</button>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     <div class="header-fooder">
          <div class="d-flex">
              <div class="col-lg-2"><a class="header-fooder-notamenu" href="#"><span class="header-fooder-notamenu-span">About Us</span></a></div>
              <div class="col-lg-2"><a class="header-fooder-notamenu" href="#"><span class="header-fooder-notamenu-span">Services</span></a></div>
              <div class="col-lg-2"><a class="header-fooder-notamenu" href="#"><span class="header-fooder-notamenu-span">Artists</span></a></div>
              <div class="col-lg-2"><a class="header-fooder-notamenu" href="/Gallery"><span class="header-fooder-notamenu-span">Gallery</span></a></div>
              <div class="col-lg-2"><a class="header-fooder-notamenu" href="#"><span class="header-fooder-notamenu-span">Blog</span></a></div>
              <div class="col-lg-2"><a class="header-fooder-notamenu" href="#"><span class="header-fooder-notamenu-span">Book Now</span></a></div>
          </div>
     </div>
  </section>
 <section class="section container-s1">
       <div class="container">
             <div class="tiller-s">
                   <h2>Browse & Discover</h2>
             </div>
                   <div class="menu-s">
                       <a href="#" class="menus0212">
                           <div class="menu-s1">
                               <div class="menu-s1-span">Discover Salon, Spa, Beauty Clinics, and many more</div>
                               <div class="menu-s2-search">
                                   <button class="btn btn-outline-light menu-s2-search-button" data-toggle="modal" data-target="#myModallogin">Search</button>
                               </div>
                           </div>
                       </a>
                   </div>
                    <div class="menu-s02">
                        <div class="d-flex menus021">
                            <div class="col-lg-4">
                                <a href="#" class="menus0212">
                                    <div class="menus0212-menu">
                                          <div class="menus0212-span">Basic Make Up</div>
                                          <button class="btn btn-outline-light menu-s2-search-button" data-toggle="modal" data-target="#myModallogin">View</button>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="#" class="menus0212">
                                    <div class="menus0212-menu-2">
                                        <div class="menus0212-span">Wedding Make Up</div>
                                        <button class="btn btn-outline-light menu-s2-search-button" data-toggle="modal" data-target="#myModallogin">View</button>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="#" class="menus0212">
                                    <div class="menus0212-menu-3">
                                        <div class="menus0212-span">Photoshoot Make Up</div>
                                        <button class="btn btn-outline-light menu-s2-search-button" data-toggle="modal" data-target="#myModallogin">View</button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
           <div class="menu-s02">
               <div class="d-flex menus021">
                   <div class="col-lg-4">
                       <a href="#" class="menus0212">
                           <div class="menus0212-menu-4">
                               <div class="menus0212-span">Bridesmaid Make Up</div>
                               <button class="btn btn-outline-light menu-s2-search-button" data-toggle="modal" data-target="#myModallogin">View</button>
                           </div>
                       </a>
                   </div>
                   <div class="col-lg-4">
                       <a href="#" class="menus0212">
                           <div class="menus0212-menu-5">
                               <div class="menus0212-span">Traditional Make Up</div>
                               <button class="btn btn-outline-light menu-s2-search-button" data-toggle="modal" data-target="#myModallogin">View</button>
                           </div>
                       </a>
                   </div>
                   <div class="col-lg-4">
                       <a href="#" class="menus0212">
                           <div class="menus0212-menu-6">
                               <div class="menus0212-span">Character,Prosthetics Make Up</div>
                               <button class="btn btn-outline-light menu-s2-search-button" data-toggle="modal" data-target="#myModallogin">View</button>
                           </div>
                       </a>
                   </div>
               </div>
           </div>
       </div>
     <div class="container">
         <div class="container-promo">
             <span class="container-promo-s">Promo</span>
         </div>
         <div class="owl-carousel owl-theme">
             <div class="item">
                 <a href="#" class="swiper-slide-a">
                     <img  class="img-fluid swiper-slide-img" src="/imgs-s/Bao%20Gia%20Makeup.jpg">

                 </a>
             </div>
             <div class="item">
                 <a href="#" class="swiper-slide-a">
                     <img class="img-fluid swiper-slide-img" src="/imgs-s/Bao%20Gia%20Makeup%2002.jpg">
                 </a>
             </div>
             <div class="item">
                 <a href="#" class="swiper-slide-a">
                     <img class="img-fluid swiper-slide-img" src="/imgs-s/Bao%20Gia%20Makeup%2003.jpg">
                 </a>
             </div>
             <div class="item">
                 <a href="#" class="swiper-slide-a">
                     <img class="img-fluid swiper-slide-img" src="/imgs-s/Bao%20Gia%20Makeup%2004.jpg">
                 </a>
             </div>
             <div class="item">
                 <a href="#" class="swiper-slide-a">
                     <img  class="img-fluid swiper-slide-img" src="/imgs-s/km5.jpg">

                 </a>
             </div>
             <div class="item">
                 <a href="#" class="swiper-slide-a">
                     <img class="img-fluid swiper-slide-img" src="/imgs-s/km6.jpg">
                 </a>
             </div>
             <div class="item">
                 <a href="#" class="swiper-slide-a">
                     <img class="img-fluid swiper-slide-img" src="/imgs-s/tn1.jpg">
                 </a>
             </div>
             <div class="item">
                 <a href="#" class="swiper-slide-a">
                     <img class="img-fluid swiper-slide-img" src="/imgs-s/Bao%20Gia%20Makeup%2004.jpg">
                 </a>
             </div>
         </div>
         <script type="text/javascript">
             $('.owl-carousel').owlCarousel({
                 loop:true,
                 margin:20,
                 nav:true,
                 dots:false,
                 autoplay:true,
                 autoplayTimeout:3000,
                 autoplayHoverPause:true,
                 responsive:{
                     0:{
                         items:1
                     },
                     600:{
                         items:2
                     },
                     1000:{
                         items:4
                     }
                 }
             })
         </script>
     </div>
     <div class="container tillets1">
         <div class="d-flex tillets1-s1">
             <div class="col-lg-10 container-tillets1">
                 <span class="container-tillets1-span">Beauty Outlets <span class="container-tillets1-span-p"><u>NEW!</u></span></span>
             </div>
             <div class="col-lg-2 container-tillets1-left">
                 <a href="#" class="notamenu">
                     <span class="container-tillets1-left-span">Sell All <i class='fas fa-chevron-right'></i></span>
                 </a>
             </div>
         </div>
     </div>
     <div class="container container-new-s1">
         <div class="container-new-s2">
             <div id="lightSlider">
                 <% sps.map(function (v) { %>
                     <div class="container-new-s3">
                         <div class="col-lg-4 container-new-s3-top">
                             <img class="img-fluid imgs" src="<%= v.Avartar %>" alt="a">
                         </div>
                         <div class="col-lg-7">
                             <div class="tensp"><a href="chi-tiet-san-pham/<%= v.ID %>" class="aa"><%= v.aName %></a> </div>
                             <div class="tensp"><a class="aa"><%= v.aLocation %></a> </div>
                             <div class="tensp"><a class="aa"><%= v.timeCloseOpen %></a> </div>
                             <div class="tensp"><a class="aa"><%= v.Intro %></a> </div>
                         </div>
                     </div>
                 <% }) %>
             </div>
         </div>
         <script type="text/javascript">
             $(document).ready(function() {
                 $("#lightSlider").lightSlider({
                     item: 2,
                     autoWidth: false,
                     dots:false,
                     slideMove: 1, // slidemove will be 1 if loop is true
                     slideMargin: 10,

                     addClass: '',
                     mode: "slide",
                     useCSS: true,
                     cssEasing: 'ease', //'cubic-bezier(0.25, 0, 0.25, 1)',//
                     easing: 'linear', //'for jquery animation',////

                     speed: 400, //ms'
                     auto: false,
                     loop: false,
                     slideEndAnimation: true,
                     pause: 2000,

                     keyPress: false,
                     controls: true,
                     prevHtml: '111',
                     nextHtml: '1111',

                     rtl:false,
                     adaptiveHeight:false,

                     vertical:false,
                     verticalHeight:500,
                     vThumbWidth:100,

                     thumbItem:10,
                     pager: false,
                     gallery: false,
                     galleryMargin: 5,
                     thumbMargin: 5,
                     currentPagerPosition: 'middle',

                     enableTouch:true,
                     enableDrag:true,
                     freeMove:true,
                     swipeThreshold: 40,

                     responsive : [],

                     onBeforeStart: function (el) {},
                     onSliderLoad: function (el) {},
                     onBeforeSlide: function (el) {},
                     onAfterSlide: function (el) {},
                     onBeforeNextSlide: function (el) {},
                     onBeforePrevSlide: function (el) {}
                 });
             });
         </script>
     </div>
     <div class="container khdssp2">

     </div>
 </section>
 </body>
 </html>