<!DOCTYPE html>
<html lang="en">
<head>
    <title>Beauty Gallery</title>
    <%- include("layout/head-Aritst-son") -%>
    <link rel="stylesheet" type="text/css" href="/css/new-arists.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/pagination.js"></script>
    <script>
        $(document).ready(function()
        {
            $("#tab").pagination({
                items: 8,
                contents: 'Beauty-Artist',
                previous: 'Previous',
                next: 'Next',
                position: 'bottom',
            });
        });
    </script>
</head>
<body class="home">

<%- include("layout/navbar-new-arists") -%>

<section class="section">
    <div class="container">
        <div class="d-flex">
            <div class="col-lg-4 dropdown-pro-son">
                <div class="dropdown">
                    <button type="button" class="btn btn-outline-light dropdown-toggle btn-nav-s2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Default
                    </button>
                    <div class="dropdown-content dropdown-content-s2">
                        <a class="dropdown-item" href="/NewArtist/search/new-lowest">Highest Discount >> Lowest Discount</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/NewArtist/search/new-hight">Lowest Discount >> Highest Discount</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="form-group form-control-pro">
                    <form action="/NewArtist/search" method="get">
                        <label type="text"  class="lable-pro-son">Select District</label>
                        <input type="text" name="keyword" class="form-control form-control-pro-son" id="Cname">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section promotion-conten">
    <div class="container"  id="wrapper">
        <div class="Beauty-Artist">

            <!--             <a href="/artist" class="Beauty-Artist-a">-->
            <% aps.map(function (v) { %>
                <div class="Beauty-Artist-s1 Beauty-Artist-s1-ss1">
                    <a href="#" class="Beauty-Artist-a">
                        <img class="img-fluid imgs-cover imgs-cover-ss1" src="<%= v.Cover %>" alt="a">
                        <a href="#"><img class="imgs-avartar imgs-avartar-ss1" style="width: 15vw; height: 15vw" src="<%= v.Avartar %>" alt="a"></a>
                        <div class="Beauty-Artist-s112">
                            <a href="#" class="Beauty-Artist-s112-a"><span class="Beauty-Artist-s112-span"><%= v.Name %></span></a>
                        </div>
                        <div class="Beauty-Artist-s1123">
                            <a class="Beauty-Artist-s1123-a">Discount <%= v.SPromo*100 %>% OFF</a>
                        </div>
                        <div class="Beauty-Artist-s12">

                            <hr>
                            <div class="d-flex">
                                <div class="col-lg-6 Beauty-Artist-s126 Beauty-Artist-s126-s1l2">
                                    <div class="d-flex Beauty-Artist-s125">
                                        <a href="#" class="header-fooder-notamenu-s4">
                                            <i class='far fa-money-bill-alt Beauty-Artist-s125-icon-s2'></i>
                                            <span class="Beauty-Artist-s125-span-s2">Start From</span>
                                        </a>
                                    </div>
                                    <div class="Beauty-Artist-s12-SWTime">
                                        <span id="demo"><%= v.SPrice %></span>
                                        <!--                                             <%= v.TimeRegis %>-->
                                    </div>
<!--                                    <script type="text/javascript">-->
<!--                                        var d = new Date("<%= v.TimeRegis %>");-->
<!--                                        var n = d.toLocaleDateString();-->
<!--                                        document.getElementById("demo").innerHTML = n;-->
<!--                                    </script>-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex Beauty-Artist-s125">
                                        <a href="#" class="header-fooder-notamenu-s4 header-fooder-notamenu-s42">
                                            <i class='fas fa-map-marker-alt Beauty-Artist-s125-icon'></i>
                                            <span class="Beauty-Artist-s125-span">District</span>
                                        </a>
                                    </div>
                                    <div class="Beauty-Artist-s12-SWTime">
                                        <span><%= v.District %> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            <% }) %>
            <!--             </a>-->
        </div>
    </div>
</section>



<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/home-son.js"></script>
<script type="text/javascript" src="/libs/bootstrap/js/bootstrap.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/pagination.js"></script>

<%- include('layout/footer')-%>

</body>
</html>