<% sps.map(function (v) { %>
    <div class="Beauty-Artist-s1">
        <a href="#" class="Beauty-Artist-a">
            <div class="Beauty-Artist-s11">
                <a href="#" class="Beauty-Artist-s11-a">
                    <img class="img-fluid imgs-cover" src="<%= v.Cover %>" alt="a">
                </a>
            </div>
            <div class="Beauty-Artist-s112">
                <a href="chi-tiet-san-pham/<%= v.ID %>" class="Beauty-Artist-s112-a"><span class="Beauty-Artist-s112-span"><%= v.aName %></span></a>
            </div>
            <div class="Beauty-Artist-s1123">
                <a class="Beauty-Artist-s1123-a">Discount <%= v.SPromo*100 %>% OFF</a>
            </div>
            <div class="Beauty-Artist-s12">
                <a href="#" class="header-fooder-notamenu-s4">
                    <div class="d-flex Beauty-Artist-s121">
                        <div class="tensp"><span class="Beauty-Artist-s121-span"><del><%= v.SPrice %> VND</del></span></div>
                        <div class="Beauty-Artist-s1212"><i class='fas fa-arrow-right'></i></div>
                        <div class="tensp"><span class="Beauty-Artist-s121-span"><%= v.SPrice*(1-v.SPromo) %> VND</span> </div>
                    </div>
                </a>
                <div class="Beauty-Artist-s12-name">
                    <a href="#" class="header-fooder-notamenu-s4">
                        <span><%= v.SName %> </span>
                    </a>
                </div>
                <hr>
                <div class="d-flex">
                    <div class="col-lg-6 Beauty-Artist-s126">
                        <div class="d-flex Beauty-Artist-s125">
                            <a href="#" class="header-fooder-notamenu-s4">
                                <i class="fa fa-clock-o Beauty-Artist-s125-icon"></i>
                                <span class="Beauty-Artist-s125-span">Until</span>
                            </a>
                        </div>
                        <div class="Beauty-Artist-s12-SWTime">
                            <span><%= v.SWTime %> </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex Beauty-Artist-s125">
                            <a href="#" class="header-fooder-notamenu-s4 header-fooder-notamenu-s42">
                                <i class='fas fa-map-marker-alt Beauty-Artist-s125-icon'></i>
                                <span class="Beauty-Artist-s125-span">District</span>
                            </a>
                        </div>
                        <div class="Beauty-Artist-s12-SWTime">
                            <span><%= v.District %> </span>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#"><img class="imgs-avartar" src="<%= v.Avartar %>" alt="a"></a>
        </a>
    </div>
<% }) %>








<% aps.map(function (v) { %>
    <div class="Beauty-Artist-s1-s1">
        <a>
            <div class="Beauty-Artist-s11-s1">
                <img class="img-fluid imgs-cover-s1" src="<%= v.Cover %>" alt="a">
            </div>
            <div class="Beauty-Artist-s112-s1">
                <a href="chi-tiet-san-pham/<%= v.ID %>" class="Beauty-Artist-s112-a-s1"><span class="Beauty-Artist-s112-span"><%= v.aName %></span></a>
            </div>
            <div class="Beauty-Artist-s1123-s1">
                <a class="Beauty-Artist-s1123-a-s1">Discount <%= v.SPromo*100 %>% OFF</a>
            </div>
            <div class="Beauty-Artist-s12-s1">
                <hr>
                <div class="d-flex">
                    <div class="col-lg-6 Beauty-Artist-s126-s1">
                        <div class="d-flex Beauty-Artist-s125-s2">
                            <a href="#" class="header-fooder-notamenu-s4 header-fooder-notamenu-s42">
                                <i class='far fa-money-bill-alt Beauty-Artist-s125-icon-s2'></i>
                                <span class="Beauty-Artist-s125-span-s2">Start From</span>
                            </a>
                        </div>
                        <div class="Beauty-Artist-s12-SWTime-s1">
                            <span><%= v.MINMONEY %> </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex Beauty-Artist-s125-s1">
                            <a href="#" class="header-fooder-notamenu-s4 header-fooder-notamenu-s42">
                                <i class='fas fa-map-marker-alt Beauty-Artist-s125-icon-s1'></i>
                                <span class="Beauty-Artist-s125-span-s1">District</span>
                            </a>
                        </div>
                        <div class="Beauty-Artist-s12-SWTime-s1">
                            <span><%= v.District %> </span>
                        </div>
                    </div>
                </div>

            </div>

            <img class="imgs-avartar" src="<%= v.Avartar %>" alt="a">
        </a>
    </div>
<% }) %>



<% mps.map(function (v) { %>
    <div class="Beauty-Artist-s1-s1">
        <div class="Beauty-Artist-s11-s1">
            <img class="img-fluid imgs-cover-s1" src="<%= v.Avartar %>" alt="a">
        </div>
        <div class="Beauty-Artist-s112-s1">
            <a href="chi-tiet-san-pham/<%= v.ID %>" class="Beauty-Artist-s112-a-s1"><span class="Beauty-Artist-s112-span"><%= v.aName %></span></a>
        </div>
        <div class="Beauty-Artist-s1123-s1">
            <a class="Beauty-Artist-s1123-a-s1">Discount <%= v.TongRT %></a>
        </div>
        <div class="Beauty-Artist-s12-s1">
            <hr>
            <div class="d-flex">
                <div class="col-lg-6 Beauty-Artist-s126-s1">
                    <div class="d-flex Beauty-Artist-s125-s1">
                        <i class='far fa-money-bill-alt Beauty-Artist-s125-icon-s2'></i>
                        <span class="Beauty-Artist-s125-span-s2">Start From</span>
                    </div>
                    <div class="Beauty-Artist-s12-SWTime-s1">
                        <span><%= v.MINMONEY %> </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex Beauty-Artist-s125-s1">
                        <i class='fas fa-map-marker-alt Beauty-Artist-s125-icon-s1'></i>
                        <span class="Beauty-Artist-s125-span-s1">District</span>
                    </div>
                    <div class="Beauty-Artist-s12-SWTime-s1">
                        <span><%= v.District %> </span>
                    </div>
                </div>
            </div>

        </div>

        <img class="imgs-avartar" src="<%= v.Avartar %>" alt="a">
    </div>
<% }) %>