<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Service</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/lightgallery/1.3.9/css/lightgallery.min.css" rel="stylesheet">


    <!--    <link href="/libs/bootstrap/css/bootstrap.css" rel="stylesheet" id="bootstrap-css">-->
    <!--    <script src="/libs/bootstrap/js/bootstrap.js"></script>-->

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/Gallery-s.js"></script>
    <script src="https://kit.fontawesome.com/7d186d09cd.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/validator.js"></script>
    <script type="text/javascript" src="/js/home-son.js"></script>
    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/fontawesome.css">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/all.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/home-son.css"/>
        <script type="text/javascript" src="/js/home-son.js"></script>
        <link href="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="/js/jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.css">
        <script type="text/javascript" src="/libs/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/css/N_artist.css">


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<!--        <meta charset="UTF-8">-->
<!--        <title>Services</title>-->
<!--        <link rel="stylesheet" type="text/css" href="/css/home-son.css"/>-->
<!--        <link rel="stylesheet" href="/css/footer.css">-->
<!--        <link rel="stylesheet" href="/css/main.css">-->
<!--        <script type="text/javascript" src="/js/jquery.js"></script>-->
<!--        <script type="text/javascript" src="/js/validator.js"></script>-->
<!--        <script type="text/javascript" src="/js/home-son.js"></script>-->
<!--        <link href="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css" rel="stylesheet">-->
<!--        <meta name="viewport" content="width=device-width, initial-scale=1"/>-->
<!--        <script src='https://kit.fontawesome.com/a076d05399.js'></script>-->
<!--        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--        <script type="text/javascript" src="/js/jquery.js"></script>-->

        <link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.css">
<!--        <script type="text/javascript" src="/libs/bootstrap/js/bootstrap.js"></script>-->
<!--        <link rel="stylesheet" href="/libs/bootstrap-4.5.2-dist/css/bootstrap.css">-->
<!--        <link rel="stylesheet" href="/css/N_artist.css">-->
<!--        <link href="/libs/bootstrap/css/bootstrap.css" rel="stylesheet" id="bootstrap-css">-->

    <link href="https://cdn.jsdelivr.net/lightgallery/1.3.9/css/lightgallery.min.css" rel="stylesheet">


    <!--    <link href="/libs/bootstrap/css/bootstrap.css" rel="stylesheet" id="bootstrap-css">-->
    <!--    <script src="/libs/bootstrap/js/bootstrap.js"></script>-->



</head>
<body>

<section class="section sticky-top">
    <nav class="navbar navbar-expand-md navbar-light  nav-head-s" id="nav-head-s">
        <div class="container-fluid">
            <div class="img-nav-s">
                <a class="navbar-branch" href="/">
                    <img class="img-fluid img-nav-s" src="/imgs-s/logo-salmon.png">
                </a>
            </div>
            <form class="form-group form-group-nav-pro" action="/search" method="get">
                <input class="form-control form-group-nav-pro-input" type="text" name="keyword" placeholder="Type beautician's name or service category"/>
                <span class="form-group-nav-pro-icon"><i class="fa fa-search search-buton-s1"></i></span>
            </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item nav-item-s1">
                        <div class="dropdown">
                            <button type="button" class="btn btn-outline-danger dropdown-toggle btn-nav-s1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                FOR CLIENT
                            </button>
                            <div class="dropdown-content">
                                <a class="dropdown-item" href="/artisan-registration-and-service">Beauty Job Artist</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Beauty Outlet</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item nav-item-s">
                        <div class="dropdown">
                            <button type="button" class="btn btn-outline-light dropdown-toggle btn-nav-s2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                PARTNER WITH US
                            </button>
                            <div class="dropdown-content">
                                <a class="dropdown-item" href="#">Beauty Artists</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Beauty Outlets</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item nav-item-s">
                        <a href="#" class="notamenu notamenus"><i style="color: #ff5c5c" class="fa">&#xf290;</i></a>
                    </li>
                    <li class="nav-item nav-item-s">
                        <button class="btn btn-outline-light btn-nav-s2" data-toggle="modal" data-target="#myModal">Register</button>
                    </li>
                    <li class="nav-item nav-item-s">
                        <button class="btn btn-outline-light btn-nav-s2" data-toggle="modal" data-target="#myModallogin">Login</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>
<section class="section">
    <% artist.map(function (v) { %>
    <div class="container-fluid">
        <div class="N_cover" style="background-image: url(<%=v.Cover %>)">
            <div class="N_cover_avatar">
                <img  src="<%=v.Avartar %>" alt="" class="imgavata" style="border-radius: 50%;width: 100%;height:100%;border: 5px solid white">
            </div>
        </div>
    </div>
    <% })%>
    <div class="container">
        <% artist.map(function (v) { %>
        <div class="N_profile">
            <div class="N_profile_name">
                <%=v.Name %>
                <img src="/imgs/img/tichs%20do.png" style="max-width: 100%;height: 50px">
            </div>
            <div class="N_profile_aftername">Jakarta Selatan - DKI Jakarta</div>
            <div class="N_profile_bio">
                <%=v.Intro %>
            </div>
            <div class="N_profile_note">
                Cle De Peau, Channel, YSL, Estee Lauder, Makeup Forever, Urban Decay, Kryolan, Naturactor, Dermablend, Ultima, Too Faced, Naked, Mac, NYX, The Balm etc
            </div>
            <div class="N_profile_addFavorite">
                <button class="N_favorite"><i class="far fa-heart"></i> Add to Favorite </button>
            </div>
            <div class="N_profile_ask">
                <button class="N_ask">Ask availabity <i class="fas fa-comment"></i> </button>
            </div>
            <div class="row N_profile_job ">
                <div class="N_profile_job_JobDone col-md-4 border-box">
                    <div style="font-size: 18px; color: #FF5C5D; padding: 10px 0">289</div>
                    <div style="color: rgba(0,0,0,.54)"><i class="fas fa-briefcase"></i></div>
                    <div style="font-size: 18px;letter-spacing: 0.2px;color: rgba(0,0,0,.54)">Job Done</div>

                </div>
                <div class="N_profile_job_member col-md-4 border-box">
                    <div style="font-size: 18px;letter-spacing: 0.2px; color: #FF5C5D; padding: 10px 0"><%=v.TimeRegis %></div>
                    <div style="color: rgba(0,0,0,.54)"><i class="fas fa-user"></i></div>
                    <div style="font-size: 18px;letter-spacing: 0.2px;color: rgba(0,0,0,.54)">Member Since</div>
                </div>

                <div class="N_profile_job_rate col-md-4 border-box">
                    <div style="font-size: 16px;margin-top: 10px">
                        <% if (v.Rating === 0) { %>
                            <em>No reviews yet.</em>
                        <% } else { %>
                            <span class="fas fa-heart N_checked"></span>
                            <span class="fas fa-heart <% if (v.Rating > 1.5) { %> N_checked <% } %>"></span>
                            <span class="fas fa-heart <% if (v.Rating > 2.5) { %> N_checked <% } %>"></span>
                            <span class="fas fa-heart <% if (v.Rating > 3.5) { %> N_checked <% } %>"></span>
                            <span class="fas fa-heart <% if (v.Rating > 4.5) { %> N_checked <% } %>"></span>

                        <% } %>

                    </div>

                    <br/><span style="letter-spacing: 0.2px;color: rgba(0,0,0,.54)">Rating From 82 Reviews</span>
                </div>
            </div>
        </div>
        <% })%>
        <div class="Portfolio">
            <div class="Portfolio_name">
                Portfolio
            </div>
            <div class="Portfolio_img row">
                <% portfolio.map(function (v) { %>
                <div class="column col-xs-12 col-md-3 hover-shadow cursor" data-fancybox="gallery" href="<%=v.PImageClient %>">
                    <i class="fas fa-search-plus"></i>
                    <img src="<%=v.PImageClient %>" style="max-width: 100%;max-height: 100%">
                </div>
                <% })%>
            </div>

<!--            <div data-fancybox="gallery" href="/imgs/img/Portfolio_2.jpeg"><img src="/imgs/img/Portfolio_2.jpeg"></div>-->
<!--            <div data-fancybox="gallery" href="/imgs/img/Portfolio_9.jpeg"><img src="/imgs/img/Portfolio_9.jpeg"></div>-->

            <div  id="ShowMoreIMG" style="text-align: center;letter-spacing: 0.2px;margin: 10px 0;font-size: 16px"><a href="#" style="color: #FF5C5C"><i class="fas fa-image"></i> Show more portfolios </a></div>
        </div>


        <div class="N_Service">
            <div class="N_Service_name">
                Service
            </div>
            <% service.map(function (v) { %>
            <div class="N_Beauty">
                <div class="N_Beauty_Name">
                    <%=v.TName %>
                </div>
                <div class="N_Beauty_Private">
                    <div class="N_Beauty_Private_introduce">
                        <div class="N_Beauty_Private_introduce_first">
                            <%=v.SName %>
                        </div>
                        <div class="N_Beauty_Private_introduce_second">
                            <%=v.SDescribe %>
                        </div>
                        <div class="N_Beauty_Private_introduce_ID">
                            <span  class="N_oldPrice N_Beauty_Private_introduce_ID_BasisPrice"><i class="far fa-money-bill-alt"></i>  VND <%=v.SPrice %></span>

                            <i  class=" N_hand_price fas fa-hand-point-right"></i>

                            <span class="N_priceOff"><i class="far fa-money-bill-alt"></i>  VND <%=v.SPrice*(1-(v.SPromo/100)) %></span>
                        </div>



                        <div class="N_Beauty_Private_introduce_time">
                            <span><i class="far fa-calendar-alt"></i>  For 3 hour</span>
                        </div>

                    </div>
                    <div class="N_Beauty_Private_Book">
                        <a href="/booking/<%=v.SId %>" class="N_Beauty_Private_Book_name">
                            Book
                        </a>
                    </div>
                </div>
            </div>
            <% })%>
        </div>


        <div class="N_Review">
            <div class="N_Review_name">
                Review
            </div>
            <% review.map(function (v) { %>
            <div class="N_Review_comment">
                <div class="N_Review_comment_intro row">
                    <div class="N_Review_comment_intro_ava col-md-6">
                        <img src="/imgs/img/review%20ava.png" alt="">
                        <div class="N_Review_comment_intro_ava_rating">
                            <div class="N_Review_comment_intro_ava_rating_name">
                                <%=v.R_Name %>
                            </div>
                            <div class="N_Review_comment_intro_ava_rating_day">
                                Posted <%=v.R_Date %>
                            </div>
                        </div>
                    </div>

                    <div class="N_Review_comment_intro_rating col-md-6">
                        <span>Rating given</span>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart" style="color: white"></i>
                    </div>
                    <div class="N_Review_comment_intro_comment col-md-12">
                        <%=v.R_Content %>
                    </div>
                </div>
            </div>
            <% })%>
            <div style="text-align: center;letter-spacing: 0.2px;margin: 10px 0;font-size: 16px"><a href="#" id="loadMore" style="color: #FF5C5C"><i class="far fa-heart"></i> Load More Review </a></div>
            <div style="text-align: center;letter-spacing: 0.2px;margin: 10px 0;font-size: 16px"><a href="#" id="loadLess" style="color: #FF5C5C"><i class="far fa-heart"></i> Load Less Review </a></div>

        </div>
        <div class="N_Terms">
            <div class="N_Terms_Name">
                Terms & Conditions
            </div>
            <span>
             For appointment please reserve H-2
            </span>
        </div>
        <div id="mapholder">
        </div>
    </div>
</section>
<script>
        if(document.getElementsByClassName("N_oldPrice").value == document.getElementsByClassName("N_priceOff").value){
            document.getElementsByClassName("N_oldPrice").style.display = "none";
        }
        else{
            document.getElementsByClassName("N_oldPrice").style.display = "block";
        }


</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/Gallery-s.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>

        $(document).ready(function(){
            $(".column").slice(0, 4).show();
            $("#ShowMoreIMG").on("click", function(e){
                e.preventDefault();
                $(".column:hidden").slice(0, 4).slideDown();
                if($(".column:hidden").length == 0) {
                    $("#ShowMoreIMG").hide();
                }
            });

        })

        $(document).ready(function(){
            $(".N_Review_comment").slice(0, 3).show();
            $("#loadLess").hide()
            $("#loadMore").on("click", function(e){
                e.preventDefault();
                $(".N_Review_comment:hidden").slice(0, 2).slideDown();

                if($(".N_Review_comment:hidden").length == 0) {
                    $("#loadLess").show();
                    $("#loadMore").hide();
                }
            });
            $("#loadLess").on("click", function(e){
                e.preventDefault();
                $(".N_Review_comment:visible").slice(-4).slideUp();
                if($(".N_Review_comment:hidden").length <= 4) {
                    $("#loadLess").hide();
                    $("#loadMore").show();
                }
            });

        })

    </script>
<script type="text/javascript">

    //     //Preloader set fixed time
    setTimeout(function () {
        $(".loader-bg").fadeToggle();
    },3000);


    // When the user scrolls down 10px from the top of the document, slide down the navbar
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 10) {
            document.getElementById("nav-head-s").style.background = "#FFFFFF";
        } else {
            document.getElementById("nav-head-s").style.background = "none";
        }
    }


    <!-- Initialize Swiper -->

    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 3,
        direction: getDirection(),
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        on: {
            resize: function () {
                swiper.changeDirection(getDirection());
            }
        }
    });

    function getDirection() {
        var windowWidth = window.innerWidth;
        var direction = window.innerWidth <= 760 ? 'vertical' : 'horizontal';

        return direction;
    }


</script>

<<!--Geolocation API-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHCZ1jCe9H5p88Cv0-IOu83mSdeggqoNw"></script>
<% artist.map(function (v) { %>
<script>


    function getLocation()
    {
        if (navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(showPosition,showError);
        }
        else{x.innerHTML="Geolocation is not supported by this browser.";}
    }

    function showPosition(position)
    {

        //Add the latitude and longtitude, đang để tự động định vị vị trí của người dùng
        // var lat=position.coords.latitude;
        // var lon=position.coords.longitude;
        // var latlon=new google.maps.LatLng(lat, lon)
        var latlon=new google.maps.LatLng(<%=v.Location %>)
        var mapholder=document.getElementById('mapholder')
        mapholder.style.height='500px';
        mapholder.style.width='100%';

        var myOptions={
            center:latlon,zoom:14,
            mapTypeId:google.maps.MapTypeId.ROADMAP,
            mapTypeControl:false,
            navigationControlOptions:{style:google.maps.NavigationControlStyle.SMALL}
        };
        var map=new google.maps.Map(document.getElementById("mapholder"),myOptions);
        var marker=new google.maps.Marker({position:latlon,map:map,title:"Artist is here!"});
    }

    function showError(error)
    {
        switch(error.code)
        {
            case error.PERMISSION_DENIED:
                x.innerHTML="User denied the request for Geolocation."
                break;
            case error.POSITION_UNAVAILABLE:
                x.innerHTML="Location information is unavailable."
                break;
            case error.TIMEOUT:
                x.innerHTML="The request to get user location timed out."
                break;
            case error.UNKNOWN_ERROR:
                x.innerHTML="An unknown error occurred."
                break;
        }
    }
    getLocation();

</script>
<% })%>
<%- include('layout/footer')-%>
</body>
</html>