<!DOCTYPE html>
<html lang="en">
<%- include("header-son") %>
<body>
<section class="section">
    <div class="container kh khdssp">
        <h1 class="display-5 TD">Danh Sách Sản Phẩm</h1>
        <div class="btdssp"><button class="btn btn-warning" type="submit"><a href="/them-san-pham" class="aa">Thêm Sản Phẩm</a></button></div>
        <div class="btdssp"><button class="btn btn-warning" type="submit"><a href="/tao-don" class="aa">Thêm Đơn hàng</a></button></div>
        <div class="container khdssp2">
            <div class="khdssp3">
                <% sps.map(function (v) { %>
                    <div class="khdssp4">
                        <div><img class="img-fluid imgs" src="<%= v.Avartar %>" alt="a"></div>
                        <div class="tensp"><a href="chi-tiet-san-pham/<%= v.ID %>" class="aa"><%= v.aName %></a> </div>
                        <div class="tensp"><a class="aa"><%= v.timeCloseOpen %></a> </div>
                        <div class="tensp"><a class="aa"><%= v.aLocation %></a> </div>
                        <div class="tensp"><a class="aa"><%= v.Intro %></a> </div>
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="dssphm">
            <button type="submit"  class="btn btn-success dssp"><a href="/" class="aa">Danh Sách Khách Hàng</a></button>
        </div>
    </div>
</section>
</body>
</html>